<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- simple placeholder for now... -->
        <tr data-ng-repeat="task in overAllStatus">
            <td></td>
            <td>{{ task.title }}</td>
            <td>{{ task.date }}</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
