<h1>Dashboard</h1>

<h3>Welcome to the Timebox App</h3>
<h4>
    Be more effective. Be more productive.
</h4>
        <hr />
<div class="row placeholders">
    <div class="col-xs-12 col-sm-6 placeholder">
        <h4>Tasks For Today</h4>
        <span class="text-muted">Tasks for today</span>
        <div ng-include src="'/timeboxApp/view/dashboard/tasksForToday.html'"></div>
    </div>
    <div class="col-xs-12 col-sm-6 placeholder">
        <h4>Task Status Overall</h4>
        <span class="text-muted">Task Status</span>
        <div ng-include src="'/timeboxApp/view/dashboard/overAllStatus.html'"></div>
    </div>
</div>
        <hr />
<div class="row placeholders">
    <div class="col-xs-12 col-sm-6 placeholder">
        <h4>Open Tasks</h4>
        <span class="text-muted">Open Tasks</span>
        <div ng-include src="'/timeboxApp/view/dashboard/openTasks.html'"></div>
    </div>
    <div class="col-xs-12 col-sm-6 placeholder">
        <h4>Performance</h4>
        <span class="text-muted">Performance Analysis</span>
        <div ng-include src="'/timeboxApp/view/dashboard/performance.html'"></div>
    </div>
</div>