<h1>Tasks</h1>

<hr />

<div>
    <a href="#task?id=add"><button class="btn btn-primary btn-lg">Add Task</button></a>
</div>

<hr />

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>

            <th width="70%">Title</th>
            <th width="10%">Date</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>

            <tr data-ng-repeat="task in todayTasks">
                <td>{{ task.title }}<br/>
                    <progressbar ng-show="task.time > 0" animate="false" value="task.percentage" type="{{ task.active? 'success' : 'default'}}"><b>{{ task.percentage }}%</b></progressbar>
                </td>
                <td>{{ task.date | date:'dd.MM.yyyy'}}<br/>
                     <div ng-show="task.time > 0">{{ task.formattedTime }}</div>
                </td>
                <td>
                    <button ng-show="task.active" ng-click="deActivateTask(task)" class="btn btn-success btn-sm">Stop</button>

                    <!-- show when not active running task -->
                    <button ng-hide="task.active" ng-click="activateTask(task)" class="btn btn-success btn-sm">Start</button> &nbsp;
                    <a ng-hide="task.active" href="#task?id={{ task.id }}"><button class="btn btn-primary btn-sm">Edit</button></a> &nbsp;
                    <button ng-hide="task.active" ng-click="deleteTask(task)" class="btn btn-danger btn-sm">Delete</button>
            	</td>
            </tr>

        </tbody>
    </table>
</div>

<hr />

<h2>Upcoming Tasks</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>

            <th width="70%">Title</th>
            <th width="10%">Date</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>

        <tr data-ng-repeat="task in futureTasks">
            <td>{{ task.title }}</td>
            <td>{{ task.date | date:'dd.MM.yyyy'}}</td>
            <td><a href="#task?id={{ task.id }}"><button class="btn btn-primary btn-sm">Edit</button></a></td>
        </tr>

        </tbody>
    </table>
</div>

<hr />

<h2>Past Tasks</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>

            <th width="70%">Title</th>
            <th width="10%">Date</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>

        <tr data-ng-repeat="task in pastTasks">
            <td>{{ task.title }}</td>
            <td>{{ task.date | date:'dd.MM.yyyy'}}</td>
            <td><a href="#task?id={{ task.id }}"><button class="btn btn-primary btn-sm">Edit</button></a></td>
        </tr>

        </tbody>
    </table>
</div>