<h1>Tasks</h1>

<hr />

<div>
    <a href="#task?id=add"><button class="btn btn-primary btn-lg">Add Task</button></a>
</div>

<hr />

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>

            <th>Title</th>
            <th>Date</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>

            <tr data-ng-repeat="task in todayTasks">
                <td>{{ task.title }}</td>
                <td>{{ task.date | date:'dd.MM.yyyy'}}</td>
                <td>
                    <a href="#task?id={{ task.id }}"><button class="btn btn-primary btn-sm">Edit</button></a> &nbsp;
                    <button ng-click="deleteTask(task)" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<hr />

<h2>Upcoming Tasks</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>

            <th>Title</th>
            <th>Date</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>

        <tr data-ng-repeat="task in futureTasks">
            <td>{{ task.title }}</td>
            <td>{{ task.date | date:'dd.MM.yyyy'}}</td>
            <td><a href="#task?id={{ task.id }}"><button class="btn btn-primary btn-sm">Edit</button></a></td>
        </tr>

        </tbody>
    </table>
</div>

<hr />

<h2>Past Tasks</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>

            <th>Title</th>
            <th>Date</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>

        <tr data-ng-repeat="task in pastTasks">
            <td>{{ task.title }}</td>
            <td>{{ task.date | date:'dd.MM.yyyy'}}</td>
            <td><a href="#task?id={{ task.id }}"><button class="btn btn-primary btn-sm">Edit</button></a></td>
        </tr>

        </tbody>
    </table>
</div>